/* small screnn */
.container {
    background-color: #06D6A0;
    padding: 1rem;
    color: #fff;
    font-family: Open Sans ;
    display: 3.815rem;
    
}
.navbar__title {
    margin-bottom: 1rem;
    font-size: 3.052rem;
}
.navbar__list {
    list-style: none;
}
.navbar__item {
    margin-bottom: 1rem;
}

/* medium Screnn */

@media (min-width :768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3.185rem;
    }
    .navbar__list {
        display: flex;
        padding-right: 3.185rem;
    }
    .navbar__item {
        margin: 1rem;
    }
    .navbar__title {
        margin: 0;
        
    }
}
@media (min-width : 992px) {
    
}